* {
  background-color: #463938;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  padding: 0;
  width: 99%;
  height: 100%;
  margin: 0 auto;
  background-color: #463938;
}

.block-kerem {
  background-color: #fff9e6;
  width: 30%;
  height: 33%;
  display: inline-block;
  margin-top: 10px;
  float: left;
}

#secondKerem {
  background-color: #fff9e6;
  width: 30%;
  height: 33%;
  display: inline-block;
  clear: left;
  margin-top: 38px;
}

.block-red {
  background-color: red;
  width: 69%;
  height: 70%;
  display: inline-block;
  margin-top: 10px;
  float: right;
}

.block-blue {
  background-color: #199cc8;
  width: 30%;
  height: 26%;
  display: inline-block;
  margin-top: 10px;
  float: left;
}

#kerem-short {
  background-color: #fff9e6;
  width: 10%;
  height: 11%;
  display: inline-block;
  margin-top: 10px;
  float: right;
}

#yellow-short {
  background-color: #fdfb07;
  width: 10%;
  height: 11%;
  display: inline-block;
  margin-top: 38px;
  float: right;
  clear: right;
}

#kerem-long {
  background-color: #fff9e6;
  width: 58%;
  height: 26%;
  display: inline-block;
  margin-top: 10px;
  float: left;
  margin-left: 1%;
}
