* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.block {
  display: block;
  background-color: #696969;
  width: 23%;
  height: 300px;
  margin: 5px;
  color: #fff;
  text-align: center;
}

.block.float {
  float: left;
}

.block.clear {
  clear: left;
}

.block.inline {
  display: inline-block;
}
