* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
}

.redbg {
  background-color: rgb(223, 61, 61);
}

.bluebg {
  background-color: rgb(61, 126, 223) !important;
}
