@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fef9e3;
  font-family: "Montserrat";
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

table {
  border-collapse: collapse;
  background-color: white;
}

td {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  font-weight: 400;
  text-align: center;
}

th {
  border: 1px solid black;
  padding: 0.5rem 2rem;
  background-color: #2d2d2d;
  color: white;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #b9b9b9;
}
